@import 'base';

.component {
  background-color: $color-darkest-black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 70;
}

.content {
  display: flex;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  padding: 0 $mobile-side-padding;
}
