@import 'base';
@import '~sanitize.css';

:global {
  @import 'typography';

  body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    overflow-y: scroll;
    font-size: 14px;
    color: $color-text;
    line-height: 1.5;
    background-color: $color-body-bg;
  }

  strong {
    font-weight: normal;
    font-family: $font-demi;
  }

  a {
    color: $color-primary;
    text-decoration: none;
  }
}

.component {
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 43px;
}
