@import 'base';

.component {
  color: $color-placeholder;
  border-top: 1px solid $color-border;
  padding: $space-xl 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-only () {
    flex-direction: row;
  }
}

.copywrite {
  order: 2;

  @include desktop-only () {
    order: 0;
    margin-bottom: 0;
  }
}
