@import 'base';

h1, h2, h3, h4, h5,
p {
  margin: 0;
  padding: 0;
}

h1,
.title {
  font-weight: normal;
  //font-family: $font-demi;
  font-size: 2.571em;
}

.leading {
  //font-family: $font-demi;
  font-weight: normal;
  margin: 0;
  font-size: 3em;
  line-height: 1.1;

  @include desktop-only () {
    font-size: 4.429em;
    line-height: 1.1;
  }
}

h2,
.subleading {
  //font-family: $font-regular;
  font-size: 1.4em;
  font-weight: normal;
  margin: .5em 0 1.5em 0;

  @include desktop-only () {
    font-size: 1.714em;
    font-weight: normal;
    margin: .5em 0 2em 0;
    padding: 0;
  }
}

.heading {
  font-weight: normal;
  font-family: $font-demi;
  font-size: 1.714em;
  max-width: 45.714rem;
  line-height: 1.4;
}

p,
.paragraph {
  font-size: 1.143em;
  line-height: 1.7;
  font-family: $font-regular;
  font-weight: normal;

  &--small {
    font-size: 1em;
  }
}

h3 {
  font-family: $font-demi;
  font-size: 1.286em;
  font-weight: normal;
}

h4 {
  font-family: $font-demi;
  font-size: 1.143em;
  font-weight: normal;
}
