// grayscale
$color-pure-white: #fff;
$color-pure-black: #000;
$color-darkest-black: #101010;

// colors
$color-blue: #009FF5;
$color-red: #EB5757;
$color-green: #2ABBAA;
$color-yellow: #FFDB29;
$color-orange: #e67e22;

// primary, secondary
$color-primary: $color-blue;
$color-primary-red: $color-red;
$color-secondary: $color-green;

$color-text: #333333;
$color-placeholder: #9D9D9D;
$color-border: #E0E0E0;
$color-light-bg: #F9F9F9;
$color-bg-button: #F4F4F4;
$color-subtext: #BDBDBD;
$color-body-bg: #fdfdfd;

// fonts
$font-fallback: 'Open Sans', Helvetica, Arial, sans-serif;
$font-regular: 'Open Sans', + ' ' + $font-fallback;
$font-demi: 'Open Sans' + ' ' + $font-fallback;
$font-medium: 'Open Sans' + ' ' + $font-fallback;

// components
$header-height: 56px;
$view-max-width: 1110px;
$small-view-max-width: 720px;
$mobile-side-padding: 10px;

// Breakpoints
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
  medium: 768px,
  small: 500px
);

// components
$header-height: 55px;
$in-app-header-height: 55px;
$sidebar-width: 250px;
$view-max-width: 1110px;

// spaces
$space-xs: 2px;
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 20px;
$space-xxl: 30px;
$space-xxxl: 60px;
