// TODO: style this component

@import 'base';

.component {
  height: unquote("calc(100vh - #{$header-height})");
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: $space-m;
  }

  h2 {
    text-align: center;
    max-width: 300px;
  }
}

.icon {
  width: 145px;
  height: 141px;
  background-image: url('Grave.svg');
  background-size: cover;
  color: black;
  margin-bottom: $space-xl;
}
