@import 'base';

.component {
  background: url('./background.png') no-repeat;
  color: $color-pure-white;
  display: flex;
  align-items: center;
  height: 400px;
  background-size: cover;

  @include desktop-only () {
    height: 580px;
  }
}

.content {
  width: 100%;
}

.title {
  max-width: 39.286rem;
}

.subtitle {
  margin: .5em 0 1.5em 0;

  @include desktop-only () {
    margin: .5em 0 2em 0;
  }
}
